@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #13e741;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b68ec;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13e741;
}
